In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

#### In this notebook these topic are covered:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

In [3]:
my_name = 'Aakib'

In [4]:
my_name

'Aakib'

##### Assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [5]:
color1, color2, color3 = "red", "green", "blue"

In [6]:
color1

'red'

In [7]:
color3

'blue'

In [8]:
color2

'green'

**Asign the same value to multiple variables by chaining multiple assignment operations within a single statement.**

In [14]:
color4 = color5 = color6 = "magenta"
color4

'magenta'

In [15]:
color6

'magenta'

**Change the value stored within a variable by assigning a new value to it using another assignment statement**

In [16]:
color6 = 'red'

In [17]:
color6

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [30]:
counter = 10

In [31]:
counter = counter + 10

In [32]:
counter

20

In [33]:
counter += 1

In [34]:
counter

21

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [35]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

In [36]:
jovian.commit(project='python-variables-and-data-types')

[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ········
[jovian] Creating a new project "ajmehdi5/python-variables-and-data-types"
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/python-variables-and-data-types

'https://jovian.ai/ajmehdi5/python-variables-and-data-types'

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [37]:
a_variable

23

In [38]:
type(a_variable)

int

In [39]:
is_today_Saturday

False

In [40]:
type(is_today_Saturday)

bool

In [41]:
type(my_favorite_car)

str

In [42]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

# Integer

In [44]:
current_year = 2021

In [45]:
type(current_year)

int

In [47]:
a_long_number = 1342890139847632398747212938
a_long_number

1342890139847632398747212938

In [48]:
type(a_long_number)

int

In [52]:
a_long_negative_number = -1342890139847632398747212938
a_long_negative_number

-1342890139847632398747212938

In [53]:
type(a_long_negative_number)

int

# Float

In [54]:
pi = 3.141592653589793238

In [55]:
type(pi)

float

In [57]:
a_number = 3.

In [58]:
a_number

3.0

In [59]:
type(a_number)

float

In [61]:
one_hundredth = 1e-2
one_hundredth

0.01

In [62]:
type(one_hundredth)

float

In [65]:
avogadro_number = 6.022e23

In [66]:
avogadro_number

6.022e+23

In [67]:
type(avogadro_number)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [68]:
float(current_year)

2021.0

In [69]:
int(pi)

3

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [70]:
type(44/4)

float

In [71]:
type(44//4)

int

In [72]:
type(44+4)

int

In [75]:
type(444*3)

int

# Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [77]:
is_today_Sunday = True
is_today_Sunday

True

In [78]:
type(is_today_Sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [81]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
is_ice_bag_expensive

False

In [80]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [83]:
5 + False

5

In [82]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [84]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

# None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [86]:
nothing = None
type(nothing)

NoneType

# String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [87]:
name = 'Aakib'

In [88]:
name

'Aakib'

In [89]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [90]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [91]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [92]:
type(name)

str

In [93]:
type(my_favorite_movie)

str

In [94]:
type(my_favorite_pun)

str

In [97]:
a_music_pun

'\nTwo windmills are standing in a field and one asks the other, \n"What kind of music do you like?"  \n\nThe other says, \n"I\'m a big metal fan."\n'

In [98]:
print(a_music_pun )

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [99]:
name[1]

'a'

In [100]:
name[-1]

'b'

In [101]:
name[1:]

'akib'

In [124]:
 name[::-1] #reverse string

'bikaA'

In [110]:
name[:]

'Aakib'

In [111]:
len(name)

5

In [115]:
my_favorite_movie[1:5]

'ne F'

In [128]:
my_favorite_movie.split(" ")

['One', 'Flew', 'over', 'the', "Cuckoo's", 'Nest']

In [130]:
list(name)

['A', 'a', 'k', 'i', 'b']

In [132]:
'Aa' in name

True

In [133]:
'aa' in name

False

In [134]:
last_name = 'Chaudhry'

In [135]:
full_name = name +" "+ last_name

In [137]:
full_name

'Aakib Chaudhry'

In [138]:
name.lower()

'aakib'

In [139]:
name.upper()

'AAKIB'

In [140]:
name.capitalize()

'Aakib'

In [141]:
name.replace('A','a')

'aakib'

In [142]:
name # old remain same these method return vaue not update

'Aakib'

In [143]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [144]:
a_long_line_stripped = a_long_line.strip()

In [145]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

In [147]:
cost = 200

In [148]:
print('cost is = ',cost)

cost is =  200

In [149]:
print('cost is = '+str(cost))

cost is = 200

In [151]:
print('cost is = {} and cost * 3 = {}'.format(cost,cost*3))

cost is = 200 and cost * 3 = 600

In [160]:
x = 3

In [161]:
type(x)

int

In [162]:
str(x)

'3'

In [163]:
type(x)

int

In [164]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [165]:
first_name = "John"

In [166]:
first_name == "Doe"

False

In [167]:
jovian.commit()

[jovian] Updating notebook "ajmehdi5/python-variables-and-data-types" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/python-variables-and-data-types

'https://jovian.ai/ajmehdi5/python-variables-and-data-types'

# List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [168]:
fruits = ['apple', 'banana', 'cherry']

In [169]:
fruits

['apple', 'banana', 'cherry']

In [171]:
type(fruits)

list

In [172]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [173]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [174]:
empty_list = []

In [175]:
len(fruits)

3

In [176]:
fruits[1]

'banana'

In [180]:
fruits[-1]

'cherry'

In [181]:
fruits[::-1]

['cherry', 'banana', 'apple']

In [182]:
fruits[1:3]

['banana', 'cherry']

In [183]:
fruits[1][3]

'a'

In [184]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

In [189]:
a_list[2:10]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [190]:
a_list[12:10]

[]

In [191]:
a_list[2:]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [192]:
a_list[:5]

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry']]

In [193]:
a_list[-2:-5]

[]

In [194]:
a_list[-5:-2]

['hello', None, 3.14]

**You can also change the value at a specific index within a list using the assignment operation.**

In [200]:
fruits[1]='blueberry'

In [201]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [197]:
fruits.append('dates')

In [198]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [202]:
fruits.insert(1, 'banana')

In [203]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [204]:
fruits.remove('blueberry')

In [205]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [206]:
fruits.append('apple')

In [207]:
fruits

['apple', 'banana', 'cherry', 'dates', 'apple']

In [208]:
fruits.remove('apple') # remove only frist apple

In [209]:
fruits

['banana', 'cherry', 'dates', 'apple']

In [210]:
fruits.pop(1)

'cherry'

In [211]:
fruits

['banana', 'dates', 'apple']

In [212]:
fruits.pop()

'apple'

In [213]:
fruits

['banana', 'dates']

In [214]:
'banana' in fruits

True

In [215]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [216]:
more_fruits

['banana', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [217]:
more_fruits_copy = more_fruits.copy()

In [218]:
more_fruits_copy

['banana', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [219]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['banana', 'dates', 'tomato', 'guava', 'dates']

In [220]:
# Original list remains unchanged
more_fruits

['banana', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

**Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.**

In [221]:
more_fruits_not_a_copy = more_fruits

In [222]:
more_fruits

['banana', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [223]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [224]:
more_fruits_not_a_copy

['banana', 'dates', 'tomato', 'guava', 'dates']

In [225]:
more_fruits

['banana', 'dates', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [253]:
fruits = ['aaple','dates','tomato']
fruits2 = ['banana',"guva","pineapple"]

In [245]:
# Reverse the order of elements in a list
reverse_fruits = fruits[::-1]

In [244]:
reverse_fruits

['tomato', 'dates', 'aaple']

In [246]:
fruits

['aaple', 'dates', 'tomato']

In [254]:
#Add the elements of one list at the end of another list
fruits2.append(fruits[0])
fruits2

['banana', 'guva', 'pineapple', 'aaple']

In [258]:
# Sort a list of strings in alphabetical order
fruits2.sort()

In [259]:
fruits2

['aaple', 'banana', 'guva', 'pineapple']

In [261]:
# Sort a list of strings in reverse alphabetical order
fruits.sort(reverse=True)

In [262]:
fruits

['tomato', 'dates', 'aaple']

In [267]:
#Sort a list of numbers in decreasing order
numbers_list = [1,4,543,6543,84,6,9,0,5,3]
numbers_list

[1, 4, 543, 6543, 84, 6, 9, 0, 5, 3]

In [268]:
numbers_list.sort(reverse=True)

In [269]:
numbers_list

[6543, 543, 84, 9, 6, 5, 4, 3, 1, 0]

# Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [270]:
fruits = ('apple', 'cherry', 'dates')

In [271]:
type(fruits)

tuple

In [272]:
fruits

('apple', 'cherry', 'dates')

In [274]:
fruits[0]

'apple'

In [273]:
fruits[-1]

'dates'

In [275]:
'dates' in  fruits

True

- no fruits[0] = 'apple'
- no other method like append,pop,remove

In [276]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [277]:
type(the_3_musketeers)

tuple

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses ( and ) won't make it a tuple.

In [278]:
single_element_tuple = 4,

In [279]:
single_element_tuple

(4,)

In [281]:
another_single_element_tuple = (4,)
another_single_element_tuple

(4,)

In [283]:
not_a_tuple = (4)
type(not_a_tuple)

int

Tuples are often used to create multiple variables with a single statement.

In [284]:
point = (3,4)

In [285]:
point_x , point_y = point

In [286]:
point_x

3

In [287]:
point_y

4

You can convert a list into a tuple using the tuple function, and vice versa using the list function

In [288]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [289]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

**Tuples have just two built-in methods: count and index. Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the help function.**

In [292]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.count(5)

2

In [294]:
thistuple.index(5)

5

In [290]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [293]:
?a_tuple.index

# Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [295]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [296]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [298]:
person1['name']

'John Doe'

In [299]:
person1['address']

KeyError: 'address'

In [301]:
person1.get('address','unknown') # if not present retuen unknown

'unknown'

In [302]:
person2.get('name','unknown')

'Jane Judy'

In [303]:
'name' in person1

True

In [304]:
'address' in person1

False

In [305]:
person2['married'] = True

In [306]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [307]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [309]:
person1['address'] ='23 h, xyz'

In [310]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '23 h, xyz'}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [311]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married', 'address'])

In [312]:
person1.values()

dict_values(['John Doe', 'Male', 32, True, '23 h, xyz'])

In [313]:
type(person1.values())

dict_values

In [314]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True), ('address', '23 h, xyz')])

In [324]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

In [322]:
person1_list=list(person1.items())

In [323]:
person1_list[1]

('sex', 'Male')

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?

In [326]:
# What happens if you use the same key multiple times while creating a dictionary?
new_dic={
    'name':'aakib',
    'name':'aakib',
    'name':'xqyz'
}

In [329]:
new_dic['name']

'xqyz'

In [330]:
# How can you create a copy of a dictionary (modifying the copy should not change the original)?
person = {
    'name': 'John',
    'sex': 'Male',
    'age': 32,
    'married': True
}
person2 = person.copy()

In [331]:
person

{'name': 'John', 'sex': 'Male', 'age': 32, 'married': True}

In [332]:
person2

{'name': 'John', 'sex': 'Male', 'age': 32, 'married': True}

In [333]:
person2['name']='Ali'

In [334]:
person

{'name': 'John', 'sex': 'Male', 'age': 32, 'married': True}

In [335]:
person2

{'name': 'Ali', 'sex': 'Male', 'age': 32, 'married': True}

In [338]:
# Can the value associated with a key itself be a dictionary? yes

In [336]:
persons = {
    'name' : "qwewewe",
    'other' : person
}

In [337]:
persons

{'name': 'qwewewe',
 'other': {'name': 'John', 'sex': 'Male', 'age': 32, 'married': True}}

In [341]:
# How can you add the key-value pairs from one dictionary into another dictionary?
Dictionary1 = { 'A': 'Geeks', 'B': 'For', }
Dictionary2 = { 'B': 'Geeks' }
Dictionary1.update(Dictionary2)
Dictionary1

{'A': 'Geeks', 'B': 'Geeks'}

In [342]:
student1 = {'name':'aa','age':32,'marks':230}
student2 = {'marks':400}
student3 = {'age':22}
student1.update(student2)
student1

{'name': 'aa', 'age': 32, 'marks': 400}

In [344]:
student1.update(student3)
student1

{'name': 'aa', 'age': 22, 'marks': 400}

In [354]:
# Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.? .....Yes
student = {
    'name':'aakib',22:"aa",
    'marks':230,
    True: 1,
    False: True,
    2 : 4
                  }

In [355]:
student.keys()

dict_keys(['name', 22, 'marks', True, False, 2])

In [356]:
jovian.commit()

[jovian] Updating notebook "ajmehdi5/python-variables-and-data-types" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/python-variables-and-data-types

'https://jovian.ai/ajmehdi5/python-variables-and-data-types'