- Branching with `if`, `else` and `elif`
- Nested conditions and `if`
- Iteration with `while` and `for` loops
- Nested loops, `break` and `continue` statements

# Conditional Steatment

In [9]:
a_number = 20

In [10]:
if a_number % 2 == 0:
    print('The Number {} is Even'.format(a_number))

The Number 20 is Even

In [14]:
another_number = 31

In [16]:
if another_number % 2 != 0:
    print('The given number {} is Odd.'.format(another_number))

The given number 31 is Odd.

 ## The `else` statement

If `condition` evaluates to `True`, the statements in the `if` block are executed. If it evaluates to `False`, the statements in the `else` block are executed.

In [18]:
if a_number % 2 == 0: 
    print('The Number {} is Even'.format(a_number))
else:
    print('The Number {} is Odd'.format(a_number))

The Number 20 is Even

**Use if and else statement with tuple ang list**

In [19]:
fruits = ('apple','orange')
marks =[50,89]

In [20]:
if 'apple' in fruits:
    print('apple present in fruits tuple')
else:
    print('apple is not present in fruits tuple')

apple present in fruits tuple

In [26]:
if 89 in marks:
    print('89 present in marks')
else:
    print('90 is not present')

89 present in marks

In [29]:
if 89 not in marks:
    print('89 not in marks')
else:
    print('89 in marks')

89 in marks

## The `elif` statement

In [30]:
today = 'Wednesday'

In [31]:
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [32]:
a_number = 15

In [33]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3

`15 is divisible by 5` is not printed because the condition `a_number % 5 == 0` isn't evaluated, since the previous condition `a_number % 3 == 0` evaluates to `True`.

In [35]:
# here all the if condition evaluate 
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5

### Using `if`, `elif`, and `else` together

In [38]:
a_number = 15
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

15 is divisible by 3

In [39]:
a_number = 11
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
11 is not divisible by 2, 3 or 5

**Conditions can also be combined using the logical operators `and`, `or` and `not`**

In [40]:
a_number = 12

In [45]:
if a_number % 2 == 0 and a_number % 8 == 0:
    print('{} is divisible by both 2 and 5'.format(a_number))
elif a_number % 2 == 0 and not a_number % 5 == 0:
    print('{} is divisible by 2 not by 5'.format(a_number))

12 is divisible by 2 not by 5

## Non-Boolean Conditions

In [46]:
if '':
    print(True)
else:
    print(False)

False

In [56]:
if 'a':
    print(True)
else:
    print(False)

True

In [47]:
if []:
    print(True)
else:
    print(False)

False

In [48]:
if [1]:
    print(True)
else:
    print(False)

True

In [49]:
if 0:
    print(True)
else:
    print(False)

False

In [50]:
if ():
    print(True)
else:
    print(False)

False

In [52]:
if (1,):
    print(True)
else:
    print(False)

True

In [53]:
if {}:
    print(True)
else:
    print(False)

False

In [55]:
if {'name':'aaqib'}:
    print(True)
else:
    print(False)

True

In [57]:
if None:
    print(True)
else:
    print(False)

False

In [64]:
a_number1 = 5
if a_number1 % 3: #return true because remander is not zero
    print(True)
else:
    print(False)

True

In [63]:
a_number2 = 6
if a_number2 % 3: #return false because remander is zero
    print(True)
else:
    print(False)

False

## Nested conditional statements

In [65]:
a_number = 300

In [71]:
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
    if a_number % 2 == 0:
        print("{} is even".format(a_number))
    else:
        print("{} a_number is odd".format(a_number))
else:
    print('{} is not divisible by 3'.format(a_number))

300 is divisible by 3
300 is even

## Shorthand `if` conditional expression

In [72]:
a_number = 15

if a_number % 2 == 0:
    aswer = 'even'
else:
    answer = 'odd'

print('The number {} is {}.'.format(a_number, answer))

The number 15 is odd.

In [73]:
answer = 'even' if a_number % 2 == 0 else 'odd'

In [74]:
print('The number {} is {}.'.format(a_number, answer))

The number 15 is odd.

### Pass steatment

In [75]:
if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

15 is divisible by 3 but not divisible by 2

# Loops
- **while loop**

In [77]:
# Table
i = 1
while i<=10:
    print("2 * {} = {}".format(i,i*2))
    i +=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# calculate factorial of a certain number 
factorial = 10
result = 1
i = 1
while i<= factorial:
    result *= i     # result = result * i
    i +=1
print('The factorial of {} is {}'.format(factorial,result))

## patterens using while loop

In [95]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [145]:
line = '*'
i = 5
while i >= 1:
    print(' '*(i),line)
    i -=1
    line = line + '*'

while i <= 5:
    print(' '*i,line)
    line = line[:-1]
    i +=1
    print

      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

In [227]:
line = "*"
i = 11
counter = 5
while i >= 1:
    print(' '*(counter),line)
    line = line + '**'
    i -=2
    counter -=1
    
counter = 1
while i<11:
    i +=2
    if len(line)==13:
        line = line[:-4]
    else:
        line = line[:-2]
    print(' '*(counter),line)
    counter +=1

      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

## Infinite Loops

In [229]:
#INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i <= 100:
    result = result * i
    # forgot to increment i

KeyboardInterrupt:

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [230]:
i=0
while i < 100:
    print(i)
    if i == 10:
        break
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [234]:
i = 0
while i < 10:
    i +=1
    if i == 5: # only skip 5
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

# For loop

In [235]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [236]:
for char in 'aa1ib':
    print(char)

a
a
1
i
b

In [237]:
number_list = [44,32,543,54444,43]
number_tuple = (13,54,2,531,43)

In [238]:
for number in number_list:
    print(number)

44
32
543
54444
43

In [239]:
for number in number_tuple:
    print(number)

13
54
2
531
43

In [240]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [242]:
# iterate dic values
for value in person.values():
    print(value)

John Doe
Male
32
True

In [246]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

In [245]:
# iterate dic keys and values
for key,value in person.items():
    print(key,":",value)

name : John Doe
sex : Male
age : 32
married : True

### Range

In [247]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [248]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [252]:
for i in range(0,10,2): # with step
    print(i)

0
2
4
6
8